.jumbotron{
    background-image:url(./app/blue_bg.jpg);
    background-size: cover;
    text-align: center;
    margin-top: 50px;
    color:white !important;
}
#content{
    text-align: center;
}
.card-deck{
    margin-left:21%;
    padding-top:20px;
    
}
#appStoreIcon{
    width:200px;
}
#footer{
    background-color: aqua;
    padding-top: 150px;
    text-align: center;
    margin-top: 50px;
    padding-bottom: 150px;
}